/***************************
New Private Messaging System
***************************/

#punpmsnew .pagepost {
	overflow: hidden;
}

#punpmsnew .block .blockpost dt {
	display: block;
	position: absolute;
	padding: 0.538em 0 0.538em 12px;
	height: 1.462em;
	top: -2.615em;
	left: 0;
	overflow: hidden;
	width: 206px;
}
