/*****************************************************************
New Private Messaging System
*****************************************************************/

.pun .block2col .blockpmsn {
	margin-left: 15em;
}

* html .pun .pagepostpmsn {
	display: inline-block;
}

.pun .pagepostpmsn {
	min-height: 1px;
	position: relative;
	width: 100%;
	float: right;
}

.pun .pagepostpmsn:after {
	content: " ";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

#punpmsnew .blockpmsn .blockpost dt {
	display: block;
	position: absolute;
	padding: 0.538em 0 0.538em 12px;
	height: 1.462em;
	top: -2.615em;
	left: 0;
	overflow: hidden;
	width: 206px;
}

#punpmsnew #quickpost {
	clear: right;
}
